bin/Debug/netcoreapp2.1/CoreConfig.dll
bin/Debug/netcoreapp2.1/CoreConfig.pdb
obj/Debug/netcoreapp2.1/CoreConfig.dll
obj/Debug/netcoreapp2.1/CoreConfig.pdb
obj/Debug/netcoreapp2.1/CoreConfig.assets.cache
obj/Debug/netcoreapp2.1/CoreConfig.assets.cache
bin/Debug/netcoreapp2.1/CoreConfig.dll
bin/Debug/netcoreapp2.1/CoreConfig.pdb
obj/Debug/netcoreapp2.1/CoreConfig.dll
obj/Debug/netcoreapp2.1/CoreConfig.pdb
obj/Debug/netcoreapp2.1/CoreConfig.assets.cache
obj/Debug/netcoreapp2.1/CoreConfig.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp2.1/UserSecretsAssemblyInfo.cs
