bin/Debug/netcoreapp2.1/CoreConfig.dll
bin/Debug/netcoreapp2.1/CoreConfig.pdb
obj/Debug/netcoreapp2.1/CoreConfig.dll
obj/Debug/netcoreapp2.1/CoreConfig.pdb
obj/Debug/netcoreapp2.1/CoreConfig.assets.cache
